@font-face {
  font-family: "Circular";
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot");
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.woff")
      format("woff"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background-color: transparent;
  height: 5px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
input[type="range"]:hover {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background-color: transparent;
  height: 5px;
  background: #1ed760;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  border: 1px solid #1ed760;

  border-radius: 5px;
  height: 1px;
  background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1ed760;
}
input[type="range"]::-moz-range-track {
  width: 100%;

  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #1ed760;
  border-radius: 1.3px;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;

  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;

  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;

  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #1ed760;

  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;

  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #1ed760;
}

body {
  font-family: "Circular";
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  background-color: #2e302e;
}
.side-bar {
  width: 230px;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}
.main-container {
  flex-grow: 1;
  height: 85%;
  padding: 20px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 25pt;
}

.logo-text {
  color: white;
  font-size: 20pt;
  margin-left: 0.5em;
}

.side-bar-list {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;

  min-height: 60%;
}
.side-bar-list-item {
  margin-bottom: 20px;
  padding: 0px;
  border-left: 5px solid transparent;
}

.side-bar-list-item-active {
  margin-bottom: 20px;
  padding: 0px;
  border-left: 5px solid #1ed760;
}
.side-bar-list i {
  font-size: 15pt;
  color: lightgrey;
  margin-left: 1em;
}
.side-bar-list-item-text {
  color: lightgrey;
  margin-left: 1em;
}
.mobile-menu-icon {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 9999999999999999999999999;
}
.side-bar-list-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  color: lightgrey;
}
.side-bar-list-link:hover {
  color: white;
}

.side-bar-list-link:focus {
  outline: none;
  color: white;
}
.controllers {
  height: 100px;
  position: fixed;
  bottom: 0px;
  background-color: #222321;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0px 50px;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.controls-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  color: lightgrey;
  margin-right: 20px;
}
.controls-button:focus {
  outline: none;
}
.controls-button:hover {
  color: #fff;
  transition: 0.2s;
  transform: scale(1.3);
}
.progress-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.progress-time {
  color: white;
  margin: 0px 20px;
}

.songInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.song-info-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.song-info-text {
  color: white;
  width: 550px;
}
.song-info-text:hover {
  color: #1ed760;
}

.song-info-title {
  color: white;
  width: 500px;
}
.song-info-title:hover {
  color: #1ed760;
}
.rightControllerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-;
  align-items: center;
}

.volume-bar {
  width: 100px;
  border-radius: 15px;
  color: #1ed760;
  margin-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.home-container {
  width: 100%;
  padding: 50px;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(4, 73, 124, 1) 0%,
    rgba(1, 14, 23, 1) 100%
  );
}

.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tab-element {
}

.card-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.right-col {
  padding: 30px;
}
.song-container {
  width: 100%;

  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  border: none;
  outline: none;
  color: lightgrey;
  margin-right: 20px;
}

.song-container:focus {
  outline: none;
}

.song-container i {
  color: white;
}

.song-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.left-col {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.album-cover-container {
}
.album-cover {
  width: 100%;
  -webkit-box-shadow: -2px 4px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 4px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 4px 22px 0px rgba(0, 0, 0, 0.75);
}

.primary-button {
  background-color: #1ed760;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: #fff;
  opacity: 0.8;
  padding: 5px 50px;
  border-radius: 50px;
}
.primary-button:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.2s;
}
.primary-button:focus {
  outline: none;
}

.secondary-button {
  background-color: #222321;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: #fff;
  opacity: 0.4;
  padding: 5px 40px;
  border-radius: 50px;
  border: 1px solid white;
}
.secondary-button:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.2s;
}
.secondary-button:focus {
  outline: none;
}

.left-button-container {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.song-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

.main-content-overlay {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(46, 48, 46, 1) 58%
  );
  width: calc(85%-230px);
  min-height: 800px;
  position: absolute;
  top: 0px;
  padding-top: 450px;
  padding-left: 50px;
  height: 900px;
  overflow-y: scroll;
}

.bandInfoContainer {
  position: absolute;
  top: 0px;
  padding-top: 50px;
  width: 85%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.navBar {
  padding: 25px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  width: 100%;
  min-height: 100px;
}
.signup {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2e302e;
}

.signup a {
  color: #1ed760;
}
input[type="text"] {
  outline: none;
  padding: 10px;
  border: 1px solid lightgrey;
  width: 95%;
  margin: 0px 0px;
}
input[type="password"] {
  outline: none;
  padding: 10px;
  border: 1px solid lightgrey;
  width: 95%;
  margin: 20px 0px;
}
input[type="checkbox"] {
  outline: none;
  background-color: #1ed760;
  width: 50px;
  height: 50px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;

  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 27px;
  padding-left: 36px;
  color: lightgrey;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: transparent;
  border: 1px solid #1ed760;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #1ed760;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-buttons-container {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hr-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabs-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.tab-container:hover {
  color: #1ed760;
}

.auth-buttons {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mobile-current-song {
  width: 100%;
  height: 50px;
  border: 1px solid white;
  position: absolute;
  bottom: 100px;
}
.mobile-menu {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999999999999;
}

.mobile-fs-player {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999999999999999999;
  background: rgb(4, 75, 105);
  background: linear-gradient(
    180deg,
    rgba(4, 75, 105, 1) 0%,
    rgba(0, 0, 0, 1) 64%
  );
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.mobile-fs-player-nav {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-14 8:39:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fs-album-cover-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}
